<!DOCTYPE html>
<html lang="en" id="html" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv='content-Type' content='text/html; charset=UTF-8' />
	<title>{$action}</title>
	<link rel='stylesheet' href='{$stylesheetUrl}' type='text/css' media='all' />
	<meta name='robots' content='noindex, nofollow' />
</head>
<body>
	<div id="guts">
		{!$guts}
		<p class="back" n:if="$backLink">{!$backLink}</p>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
</body>
</html>