<div class="wrap wrapDivide">
	<div id="icon-edit-comments" class="icon32"><br></div><h2>Simple Subscribe - E-mail Subscribers</h2>
	<div class="settingsPage">
		<div class="singleSide prettyForm">
			<div class="info">
				{$formEmail}
			</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
</div>