<div class="wrap wrapDivide">
	<div id="icon-tools" class="icon32"><br></div><h2>Simple Subscribe E-mail Template Settings</h2>
	<div class="settingsPage">
		<div class="leftSide prettyForm">
			{$formEmailTemplate}
			<div class="clear"></div>
		</div>
		<div class="rightSide prettyForm">
			<div class="info">
				<h3>Send e-mail template preview to</h3>
				{$formEmailPreview}
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>