<div class="wrap wrapDivide relative">
	<div id="icon-edit-pages" class="icon32"><br></div><h2>Simple Subscribe Log</h2>
	<form method="POST">
		<div class="subscribersExport">
				<div class="hidden"><input type="hidden" name="action" value="emptyLog"></div>
				<input type="submit" class="button-primary button" value="Remove log messages">
		</div>
		{$table->display()}
		<div class="clear"></div>
	</form>
	<div class="clear"></div>
</div>