
<div class="clear clearFix"></div>
<div class="widgetGuts shortcode">
	<h3 n:if="$title">{$title}</h3>
	<span class="success" n:if="$message">{!$message}</span>
	{$guts}
	<div class="clear clearFix"></div>
</div>
<div class="clear clearFix"></div>