{!$beforeWidget}
{!$beforeTitle}{$widgetTitle}{!$afterTitle}
	<div class="clear clearFix"></div>
		<div class="widgetGuts">
		<span class="success" n:if="$message">{!$message}</span>
		{$guts}
		<div class="clear clearFix"></div>
	</div>
	<div class="clear clearFix"></div>
{!$afterWidget}